body {
  background-color: $darkBlue;
  box-sizing: border-box;
  font-family: $mainFont;
}

@media only screen and (min-width: 701px) {

  .top-of-page-spacer {
    margin-bottom: 101px;
  }
 
}

@media only screen and (max-width: 701px) {

  .top-of-page-spacer {
    margin-bottom: 49px;
  }
 
}

