@import "./fonts";
@import "./colors";

body {
  box-sizing: border-box;
  font-family: $mainFont;
  color: $darkGray;
}

.warning {
  color: $warning;
}

@media only screen and (min-width: 701px) {

  .top-of-page-spacer {
    height: 101px;
  }
 
}

@media only screen and (max-width: 701px) {

  .top-of-page-spacer {
    height: 49px;
  }
 
}

@media only screen and (max-width: 500px) {

  body {
    font-size: 1em;
  }

  .top-of-page-spacer {
    height: 100px;
  }
 
}

