@import "./fonts";
@import "./colors";

body {
  // background-color: $darkBlue;
  box-sizing: border-box;
  font-family: $mainFont;
  color: $black;
  font-size: 1em;
}

.warning {
  color: $warning;
}

@media only screen and (min-width: 701px) {

  .top-of-page-spacer {
    height: 101px;
  }
 
}

@media only screen and (max-width: 701px) {

  .top-of-page-spacer {
    height: 49px;
  }
 
}

@media only screen and (max-width: 500px) {

  .top-of-page-spacer {
    height: 127px;
  }
 
}

