$lightBlue: #c5d1eb;
$mediumBlue: #5596e6;
$darkBlue: #3d70b2;
$seaGreen: #41d6c3;
$white: #ffffff;
$black: #000000;
$warning: #ff0000;
$lightPurple: #3500d3;
$mediumPurple: #240090;
$darkPurple: #190061;
$deepPurple: #0c0032;