
#homeHeader {
  padding: 10px;
  margin-bottom: 40px;
}

#welcomeMessage {
  clear: both;
  font-size: 2em;
  text-align: center;
}

#hello {
  font-size: 3em;
  color: #00becc;
}

#welcomePositive {
  margin-top: 20px;
}

#homeContent {
  margin: 20px;
}

.homeContentTitle {
  color: #00becc;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.homeContentMessage {
  margin-bottom: 30px;
  color: #3f3f3f;
  font-size: 1.25em;
}

#homePortraitBorder {
  float: right;
  margin-top: 10px;
  margin-left: 40px;
  padding: 3px;
  background-color: #41d6c3;
  border: 2px solid #3d70b2;
  border-radius: 50%;
}

#jacquesHomePortrait {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  #homeHeader {
    
  }

  #welcomeMessage {
    font-size: 1.5em;
  }

  #hello {
    font-size: 2em;
    color: #00becc;
  }

  

  #homePortraitBorder {
    float: left;
    margin: 0;
    height: 150px;
    width: 150px;
  }
}