.home__intro {
  background-color: $mediumBlue;
  margin: 5rem auto 5rem auto;
  padding: 10rem;
  text-align: center;
}

.home__intro__name {
  font-size: 3rem;
}

.home__intro__title {
  font-size: 2.5rem;
  font-weight: 100;
}

.home__intro__icons {
  margin-top: 2rem;
  font-size: 3rem;
}

.home__intro__icons__i {
  margin-top: 2rem;
  margin-right: 1rem;
}

.home__intro__icons__i-last {
  margin-top: 2rem;
  margin-right: 0;
}