.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: $mediumBlue;
  border-bottom: 1px $white solid;
}

.navbar__link {
  display: block;
  float: right;
  background-color: $darkBlue;
  color: $white;
  text-align: center;
  font-family: $linkFont;
}

.navbar__link:hover {
  background-color: $mediumBlue;
}


@media only screen and (min-width: 701px) {

  .navbar {
    float: right;
  }

  .navbar__nameContent {
    float: left;
  }

  .navbar__nameContent__cloverWhite {
    display: block;
    float: left;
    height: auto;
    width: 30px;
    margin: 15px 5px 0 10px;
  }

  .navbar__nameContent__name {
    float: left;
    margin: 15px 0 0 5px;
    color: $white;
    font-size: 2.4rem;
  }

  .navbar__nameContent__title {
    clear: both;
    position: relative;
    top: 10px;
    right: 0;
    margin-left: 22px;
    color: $white;
    font-size: 1.3rem;
    font-weight: normal;
  }

  .navbar__link {
    width: 60px;
    margin: 30px 10px 10px 0;
    padding: 10px 10px;
    text-decoration: none;
    box-shadow: 1px 1px 1px $black;
    border: $lightBlue 1px solid;
    border-radius: 5px;
  }

}


@media only screen and (max-width: 700px) {

  .navbar {
    display: flex;
  }

  .navbar__link {
    flex-grow: 1;
    overflow: hidden;
    height: auto;
    padding: 20px;
    vertical-align: middle;
  }
}
