.home__tagline {
  padding: 5rem 5rem 0 5rem;
}


.home__tagline__content {
  background-color: $mediumBlue;
  margin: 0 auto 0 auto;
  padding: 3rem;
  text-align: center;
  border: $white 1px solid;
  box-shadow: 1px 1px 1px $black;
}

.home__tagline__content__quote {
  font-size: 1.5rem;
  
}

.home__tagline__content__quote__clover {
  display: inline-block;
  margin-top: 2em;
}


@media only screen and (max-width: 700px) {

  .home__tagline {
    padding: 0;
  }

  .home__tagline__content {
    padding: 5rem;
    border: none;
    border-bottom: $white 1px solid;
    box-shadow: none;
  }
  
}


@media only screen and (max-width: 500px) {

  .home__tagline__content {
    padding: 5rem 2rem 5rem 2rem;
    // border: none;
    // border-bottom: $white 1px solid;
    // box-shadow: none;
  }
  
}