@mixin button {
  background-color: $darkBlue;
  color: $white;
  text-align: center;
  font-family: $linkFont;
}

@mixin buttonHover {
  background-color: $mediumBlue;
}

@mixin buttonInner {
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 1px 1px 1px $black;
  border: $lightBlue 1px solid;
  border-radius: 5px;
}