.contact__collection {
  @include bodyPanel;
}

.contact__collection__content {
  @include bodyPanelContent;
  padding: 3rem;
}

.contact__collection__content__title {
  text-align: left;
  margin-top: 0;
}

.contact__collection__content__quote {
  font-size: 1.5rem;
}

.contact__collection__content__icons {
  margin-top: 2rem;
}

.contact__collection__content__icons__section {
  display: inline-block;
  margin-right: 5rem;
  font-size: 1.5rem;
  color: $lightPurple;
  text-decoration: none;
}

.contact__collection__content__icons__section-last {
  display: inline-block;
  margin-right: 0;
  font-size: 1.5rem;
  color: $lightPurple;
  text-decoration: none;
}

.contact__collection__content__icons__i {
  font-size: 5rem;
}


@media only screen and (max-width: 700px) {

  .contact__collection {
    @include bodyPanelMax700;
  }

  .contact__collection__content {
    @include bodyPanelContentMax700;
  }

  .contact__collection__content__icons__section {
    margin-right: 2rem;
  }
  
}


@media only screen and (max-width: 500px) {

  .contact__collection__content {
    @include bodyPanelContentMax500;
  }

  .contact__collection__content__icons__section {
    display: block;
    margin: 0 0 2rem 0;

  }
  
  .contact__collection__content__icons__section-last {
    display: block;
  }
  
}