.home__intro {
  @include bodyPanel;
}

.home__intro__content {
  @include bodyPanelContent;
  padding: 5rem;
}

.home__intro__content__name {
  margin-top: 0;
  font-size: 3rem;
}

.home__intro__content__title {
  font-size: 2.5rem;
  font-weight: 100;
}

.home__intro__content__icons {
  color: $black;
  margin-top: 2rem;
  font-size: 3rem;
}

.home__intro__content__icons__i {
  margin-top: 2rem;
  margin-right: 1rem;
}

.home__intro__content__icons__i-last {
  margin-top: 2rem;
  margin-right: 0;
}


@media only screen and (max-width: 700px) {

  .home__intro {
    @include bodyPanelMax700;
  }

  .home__intro__content {
    @include bodyPanelContentMax700;
    padding-bottom: 2rem;
  }
  
}


@media only screen and (max-width: 500px) {

  .home__intro {
    margin-top: 50px;
  }

  .home__intro__content {
    @include bodyPanelContentMax500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .home__intro__content__name {
    display: none;
  }

  .home__intro__content__title {
    font-size: 1.5em;
    padding-bottom: .25em;
    border-bottom: 1px $darkBlue solid;
    color: $black;
  }

  .home__intro__content__icons {
    font-size: 1.5rem;
  }
  
  .home__intro__content__icons__i {
    margin-top: 0;
    margin-right: 1rem;
  }
  
  .home__intro__content__icons__i-last {
    margin-top: 0;
    margin-right: 0;
  }
  
}