.home__intro {
  @include bodyPanel;
}

.home__intro__content {
  @include bodyPanelContent;
  padding: 5rem;
}

.home__intro__content__name {
  font-size: 3rem;
}

.home__intro__content__title {
  font-size: 2.5rem;
  font-weight: 100;
}

.home__intro__content__icons {
  margin-top: 2rem;
  font-size: 3rem;
}

.home__intro__content__icons__i {
  margin-top: 2rem;
  margin-right: 1rem;
}

.home__intro__content__icons__i-last {
  margin-top: 2rem;
  margin-right: 0;
}


@media only screen and (max-width: 700px) {

  .home__intro {
    @include bodyPanelMax700;
  }

  .home__intro__content {
    @include bodyPanelContentMax700;
  }
  
}


@media only screen and (max-width: 500px) {

  .home__intro__content {
    @include bodyPanelContentMax500;
  }
  
}