.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: $mediumBlue;
  border-bottom: 1px $white solid;
}

.navbar__nameContent {
  float: left;
}

.navbar__nameContent__cloverWhite {
  display: block;
  float: left;
  height: auto;
}

.navbar__nameContent__name {
  float: left;
  color: $white;
}

.navbar__nameContent__title {
  position: relative;
  color: $white;
  font-weight: normal;
}

.navbar__allLinks__link {
  @include button;
  display: block;
  float: left;
}

.navbar__allLinks__link:hover {
  @include buttonHover;
}


@media only screen and (min-width: 701px) {

  .navbar {
    float: right;
  }

  .navbar__nameContent__cloverWhite {
    width: 30px;
    margin: 15px 0 0 10px;
  }

  .navbar__nameContent__name {
    float: left;
    margin: 15px 0 0 10px;
    color: $white;
    font-size: 2.4rem;
  }

  .navbar__nameContent__title {
    clear: both;
    top: 10px;
    margin-left: 22px;
    font-size: 1.3rem;
  }

  .navbar__allLinks {
    float: right;
  }

  .navbar__allLinks__link {
    width: 60px;
    margin: 30px 10px 10px 0;
    padding: 10px 10px;
    text-decoration: none;
    box-shadow: 1px 1px 1px $black;
    border: $lightBlue 1px solid;
    border-radius: 5px;
  }
}


@media only screen and (max-width: 700px) {

  .navbar {
    height: auto;
  }

  .navbar__nameContent {
    display: none;
  }

  .navbar__nameContent__cloverWhite {
    display: none;
  }

  .navbar__nameContent__name {
    display: none;
  }

  .navbar__nameContent__title {
    display: none;
  }

  .navbar__allLinks {
    clear: both;
    display: flex;
  }

  .navbar__allLinks__link {
    flex-grow: 1;
    overflow: hidden;
    height: auto;
    padding: 15px 20px;
    vertical-align: middle;
  }
}
