.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: $white;
  border-bottom: 0.5em $darkBlue solid;
  // border-bottom: 0.5em red solid;

}

.navbar__nameContent {
  float: left;
}

.navbar__nameContent__cloverWhite {
  display: block;
  float: left;
  height: auto;
  background-color: $black;
  padding: 0.1em;
  border-radius: 10%;
}

.navbar__nameContent__name {
  float: left;
  color: $black;
}

.navbar__nameContent__title {
  // position: relative;
  color: $darkGray;
  font-weight: normal;
}

.navbar__allLinks__link {
  @include button;
  display: block;
  float: left;
}

.navbar__allLinks__link:hover {
  @include buttonHover;
}


@media only screen and (min-width: 701px) {

  .navbar {
    float: right;
  }

  .navbar__nameContent__cloverWhite {
    width: 30px;
    margin: 15px 0 0 10px;
  }

  .navbar__nameContent__name {
    float: left;
    margin: 15px 0 0 10px;
    color: $black;
    font-size: 2.4rem;
  }

  .navbar__nameContent__title {
    clear: both;
    top: 10px;
    margin-left: 22px;
    font-size: 1.3rem;
  }

  .navbar__allLinks {
    float: right;
  }

  .navbar__allLinks__link {
    // width: 60px;
    margin: 30px 10px 10px 0;
    // padding: 10px 10px;
    text-decoration: none;
    // box-shadow: 1px 1px 1px $black;
    // border: $lightBlue 1px solid;
    // border-radius: 5px;
  }
}


@media only screen and (max-width: 700px) {

  .navbar {
    height: auto;
  }

  .navbar__nameContent {
    // display: none;
    width: 100%;
  }

  .navbar__nameContent__cloverWhite {
    display: none;
  }

  .navbar__nameContent__name {
    // display: none;
    margin: 0.25em 0 0 1em;
    font-size: 1.6em;
  }

  .navbar__nameContent__title {
    // display: none;
    margin: 0.75em 1em 0 1em;
    font-size: 1.1em;
    float: right;
  }

  .navbar__allLinks {
    clear: both;
    display: flex;
  }

  .navbar__allLinks__link {
    flex-grow: 1;
    overflow: hidden;
    height: auto;
    padding: 15px 20px;
    vertical-align: middle;
  }
}


@media only screen and (max-width: 500px) {

  .navbar__nameContent__name {
    // display: none;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 3em;
    float: none;
    width: 100%;
    transition: 0.5s;
  }

  .navbar__nameContent__title {
    // width: 100;
    // text-align: center;
    // font-size: 1.1em;
    // float: none;
    // // border: 1px $darkBlue solid;
    // transition: 0.5s;
    display: none;
  }

  .navbar__allLinks {
    width: 100%;
  }

  .navbar__allLinks__link {
    // flex-grow: 1;
    // overflow: hidden;
    // height: auto;
    padding: 5px;
    // vertical-align: middle;
  }

}