.portfolio {
  display: block;
  position: relative;
}


@media only screen and (min-width: 701px) {

  .portfolio {
    margin-top: -102px; //keeps the content below the navbar when anchor linking
    padding-top: 102px; //keeps the content below the navbar when anchor linking
  }
 
}

@media only screen and (max-width: 700px) {

  .portfolio {
    margin-top: -50px; //keeps the content below the navbar when anchor linking
    padding-top: 50px; //keeps the content below the navbar when anchor linking
  }
 
}

@media only screen and (max-width: 500px) {

  .portfolio {
    margin-top: -70px; //keeps the content below the navbar when anchor linking
    padding-top: 70px; //keeps the content below the navbar when anchor linking
  }
 
}
