.portfolio__collection {
  @include bodyPanel;
}

.portfolio__collection__content {
  @include bodyPanelContent;
  padding: 3rem;
}

.portfolio__collection__content__title {
  text-align: left;
  margin-top: 0;
}

.portfolio__collection__content__item {
  padding: 1rem;
  border: 1px $white solid;
  margin: 1rem;
  box-shadow: 1px 1px 1px $black;
}

.portfolio__collection__content__item__name {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.portfolio__collection__content__item__tagline {
  margin-bottom: .5rem;
}

.portfolio__collection__content__item__technologies {
  font-style: italic;
  margin-bottom: .5rem;
}

.portfolio__collection__content__item__description {
  margin-bottom: .5rem;
}

.portfolio__collection__content__item__link-github {
  @include button;
  @include buttonInner;
  display: inline-block;
  margin: .5rem .5rem 0 .5rem;
}

.portfolio__collection__content__item__link-github:hover {
  @include buttonHover;
}

.portfolio__collection__content__item__link-site {
  @include button;
  @include buttonInner;
  display: inline-block;
  margin: .5rem .5rem 0 .5rem;
}

.portfolio__collection__content__item__link-site:hover {
  @include buttonHover;
}


@media only screen and (max-width: 700px) {

  .portfolio__collection {
    @include bodyPanelMax700;
  }

  .portfolio__collection__content {
    @include bodyPanelContentMax700;
  }
  
}


@media only screen and (max-width: 500px) {

  .portfolio__collection__content {
    @include bodyPanelContentMax500;
  }

  .portfolio__collection__content__item {
    padding: 1rem;
    border: none;
    border-bottom: 1px $white solid;
    box-shadow: none;
  }
  
}